# Eat Safe, Love

## Notebook Set Up

In [31]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [32]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [33]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [34]:
# review the collections in our database
db = mongo['uk_food']  # Access the database named 'uk_food'
collections = db.list_collection_names()  # List all collections within the 'uk_food' database
print("Collections in the 'uk_food' database:", collections)  # Print the list of collections

Collections in the 'uk_food' database: ['establishments']

In [35]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [36]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print("Number of documents with a hygiene score of 20:", count)

# Display the first document in the results using pprint
first_document = establishments.find_one(query)
print("First document with a hygiene score of 20:")
pprint(first_document)

Number of documents with a hygiene score of 20: 41
First document with a hygiene score of 20:
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('678c1b49baf5bed21312ce4b'),
 'geocode': {'latitude': '50.769705', 'longitude': '0.27694'},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [37]:
# Convert the result to a Pandas DataFrame
import pandas as pd
documents = list(establishments.find(query))
df = pd.DataFrame(documents)

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 41
First 10 rows of the DataFrame:
                        _id   FHRSID  ChangesByServerID  \
0  678c1b49baf5bed21312ce4b   110681                  0
1  678c1b49baf5bed21312d1cc   612039                  0
2  678c1b4abaf5bed21312d4d6   730933                  0
3  678c1b4abaf5bed21312d6c4   172735                  0
4  678c1b4abaf5bed21312d6d3   172953                  0
5  678c1b4abaf5bed21312e072   512854                  0
6  678c1b4abaf5bed21312e293  1537089                  0
7  678c1b4bbaf5bed21312f7be   155648                  0
8  678c1b4cbaf5bed21312fc02  1012883                  0
9  678c1b4cbaf5bed213130414   644109                  0

  LocalAuthorityBusinessID               BusinessName  \
0                     4029        The Chase Rest Home
1                1970/FOOD                 Brenalwood
2                1698/FOOD              Melrose Hotel
3             PI/000023858              Seaford Pizza
4             PI/000024532              Golden Palace
5            12/00816/BUTH           Ashby's Butchers
6          22/00224/RESTUN  South Sea Express Cuisine
7              EH/00006058              Golden Palace
8         17/00110/MIXED/S             The Tulip Tree
9                    41811                      F & S

                        BusinessType  BusinessTypeID           AddressLine1  \
0                    Caring Premises               5   5-6 Southfields Road
1                    Caring Premises               5              Hall Lane
2  Hotel/bed & breakfast/guest house            7842  53 Marine Parade East
3             Takeaway/sandwich shop            7844          4 High Street
4            Restaurant/Cafe/Canteen               1         5 South Street
5                  Retailers - other            4613   777 Southchurch Road
6            Restaurant/Cafe/Canteen               1    33 Alexandra Street
7             Takeaway/sandwich shop            7844          7 London Road
8            Restaurant/Cafe/Canteen               1          3 The Village
9                  Retailers - other            4613

         AddressLine2 AddressLine3  ...  \
0          Eastbourne  East Sussex  ...
1  Walton-on-the-Naze        Essex  ...
2      Clacton On Sea        Essex  ...
3             Seaford  East Sussex  ...
4             Seaford  East Sussex  ...
5     Southend-On-Sea        Essex  ...
6     Southend-on-sea        Essex  ...
7            Rayleigh        Essex  ...
8       Chiddingstone         KENT  ...
9      81 Southernhay     Basildon  ...

                      LocalAuthorityWebSite  \
0  http://www.eastbourne.gov.uk/foodratings
1             http://www.tendringdc.gov.uk/
2             http://www.tendringdc.gov.uk/
3       http://www.lewes-eastbourne.gov.uk/
4       http://www.lewes-eastbourne.gov.uk/
5                http://www.southend.gov.uk
6                http://www.southend.gov.uk
7                http://www.rochford.gov.uk
8              http://www.sevenoaks.gov.uk/
9                http://www.basildon.gov.uk

              LocalAuthorityEmailAddress  \
0        Customerfirst@eastbourne.gov.uk
1             fhsadmin@tendringdc.gov.uk
2             fhsadmin@tendringdc.gov.uk
3    ehealth.ldc@lewes-eastbourne.gov.uk
4    ehealth.ldc@lewes-eastbourne.gov.uk
5    EnvironmentalHealth@southend.gov.uk
6    EnvironmentalHealth@southend.gov.uk
7       customerservices@rochford.gov.uk
8  environmental.health@sevenoaks.gov.uk
9                    ehs@basildon.gov.uk

                                              scores SchemeType  \
0  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
1  {'Hygiene': 20, 'Structural': 15, 'ConfidenceI...       FHRS
2  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
3  {'Hygiene': 20, 'Structural': 10, 'ConfidenceI...       FHRS
4  {'Hygiene': 20, 'Structural': 10, 'ConfidenceI...       FHRS
5  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
6  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS
7  {'Hygiene': 20, 'Structural': 15, 'ConfidenceI...       FHRS
8  {'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...       FHRS
9  {'Hygiene': 20, 'Structural': 20, 'ConfidenceI...       FHRS

                                             geocode RightToReply  \
0  {'longitude': '0.27694', 'latitude': '50.769705'}
1  {'longitude': '1.278721', 'latitude': '51.8575...
2  {'longitude': '1.15927', 'latitude': '51.789429'}
3  {'longitude': '0.10202', 'latitude': '50.770885'}
4  {'longitude': '0.101446', 'latitude': '50.7707...
5  {'longitude': '0.736349', 'latitude': '51.5414...
6  {'longitude': '0.7121671', 'latitude': '51.535...
7  {'longitude': '0.602364', 'latitude': '51.5915...
8  {'longitude': '0.146449998021126', 'latitude':...
9  {'longitude': '0.462307', 'latitude': '51.57005'}

      Distance NewRatingPending  \
0  4613.888288            False
1  4617.965824            False
2  4619.656144            False
3  4620.421725            False
4  4620.437179            False
5  4625.565258            False
6  4626.200132            False
7  4632.276890            False
8  4633.934041            False
9  4636.552523            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...
5  {'dataSource': None, 'extractDate': '0001-01-0...
6  {'dataSource': None, 'extractDate': '0001-01-0...
7  {'dataSource': None, 'extractDate': '0001-01-0...
8  {'dataSource': None, 'extractDate': '0001-01-0...
9  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links
0  [{'rel': 'self', 'href': 'https://api.ratings....
1  [{'rel': 'self', 'href': 'https://api.ratings....
2  [{'rel': 'self', 'href': 'https://api.ratings....
3  [{'rel': 'self', 'href': 'https://api.ratings....
4  [{'rel': 'self', 'href': 'https://api.ratings....
5  [{'rel': 'self', 'href': 'https://api.ratings....
6  [{'rel': 'self', 'href': 'https://api.ratings....
7  [{'rel': 'self', 'href': 'http://api.ratings.f...
8  [{'rel': 'self', 'href': 'http://api.ratings.f...
9  [{'rel': 'self', 'href': 'http://api.ratings.f...

[10 rows x 28 columns]

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [38]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
# Query to find establishments in London with RatingValue >= 4
query = {
    "LocalAuthorityName": {"$regex": "London", "$options": "i"},  # Match "London" in LocalAuthorityName
    "RatingValue": {"$gte": 4}  # RatingValue greater than or equal to 4
}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments in London with a RatingValue >= 4: {count}")

# Display the first document in the results using pprint
first_document = establishments.find_one(query)
print("First establishment in London with a RatingValue >= 4:")
pprint(first_document)

# Convert the result to a Pandas DataFrame
results = list(establishments.find(query))
results_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f"Number of rows in DataFrame: {len(results_df)}")

# Display the first 10 rows of the DataFrame
results_df.head(10)

Number of establishments in London with a RatingValue >= 4: 0
First establishment in London with a RatingValue >= 4:
None
Number of rows in DataFrame: 0

Empty DataFrame
Columns: []
Index: []

In [39]:
# Convert the result to a Pandas DataFrame
documents = list(establishments.find(query))
df = pd.DataFrame(documents)

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [40]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

# Coordinates of "Penang Flavours"
penang_latitude = 51.490142
penang_longitude = 0.083840

# Define the search range (0.01 degrees on either side)
latitude_range = {"$gte": penang_latitude - 0.01, "$lte": penang_latitude + 0.01}
longitude_range = {"$gte": penang_longitude - 0.01, "$lte": penang_longitude + 0.01}

# Query to filter establishments
query = {
    "RatingValue": "5",  # Ensure RatingValue is exactly 5
    "geocode.latitude": latitude_range,
    "geocode.longitude": longitude_range,
}

# Sort criteria: by Hygiene score in ascending order
sort_criteria = [("scores.Hygiene", 1)]  # Sort by Hygiene score (lowest first)

# Fetch the top 5 results
results = list(establishments.find(query).sort(sort_criteria).limit(5))

# Display the results with more detailed information
if results:
    print(f"Top 5 establishments with RatingValue of 5 near 'Penang Flavours':\n")
    for i, establishment in enumerate(results, start=1):
        print(f"Establishment #{i}:")
        print(f"  Name: {establishment.get('BusinessName')}")
        print(f"  Address: {establishment.get('AddressLine1', '')}, {establishment.get('AddressLine2', '')}, {establishment.get('PostCode', '')}")
        print(f"  Hygiene Score: {establishment.get('scores', {}).get('Hygiene', 'N/A')}")
        print(f"  Latitude: {establishment.get('geocode', {}).get('latitude', 'N/A')}")
        print(f"  Longitude: {establishment.get('geocode', {}).get('longitude', 'N/A')}")
        print("\n")
else:
    print("No establishments found with the specified criteria.")

No establishments found with the specified criteria.

In [41]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(list(results))

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [42]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

pipeline = [
    {
        "$match": {  # Step 1: Match establishments with a hygiene score of 0
            "scores.Hygiene": 0
        }
    },
    {
        "$group": {  # Step 2: Group by LocalAuthorityName and count the establishments
            "_id": "$LocalAuthorityName",  # Group by LocalAuthorityName
            "count": {"$sum": 1}  # Count the number of establishments in each group
        }
    },
    {
        "$sort": {  # Step 3: Sort by the count in descending order
            "count": -1
        }
    }
]

# Run the aggregation pipeline and store the results
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(f"Number of Local Authority areas with establishments having a hygiene score of 0: {len(results)}")

# Print the first 10 results
print("First 10 results:")
for result in results[:10]:
    print(result)

Number of Local Authority areas with establishments having a hygiene score of 0: 56
First 10 results:
{'_id': 'Thanet', 'count': 1130}
{'_id': 'Greenwich', 'count': 882}
{'_id': 'Maidstone', 'count': 713}
{'_id': 'Newham', 'count': 711}
{'_id': 'Swale', 'count': 686}
{'_id': 'Chelmsford', 'count': 680}
{'_id': 'Medway', 'count': 672}
{'_id': 'Bexley', 'count': 607}
{'_id': 'Southend-On-Sea', 'count': 586}
{'_id': 'Tendring', 'count': 542}

In [43]:
# Convert the result to a Pandas DataFrame
import pandas as pd
results_df = pd.DataFrame(results)

# Rename columns for better readability
results_df.rename(columns={"_id": "LocalAuthorityName", "count": "EstablishmentCount"}, inplace=True)

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(results_df)}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
results_df.head(10)

Number of rows in the DataFrame: 56
First 10 rows of the DataFrame:

  LocalAuthorityName  EstablishmentCount
0             Thanet                1130
1          Greenwich                 882
2          Maidstone                 713
3             Newham                 711
4              Swale                 686
5         Chelmsford                 680
6             Medway                 672
7             Bexley                 607
8    Southend-On-Sea                 586
9           Tendring                 542